<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Struk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Toko Roti</h1>
        <hr>
        <h2>Nota Pembayaran</h2>
            <table border="1" align="center">
                <thead>
                    <tr>
                        <td>Nama Roti</td>
                        <td>Jumlah Roti</td>
                        <td>Harga Roti</td>
                        <td>Total Harga</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td th:text="${Nm_Roti}"></td>
                        <td th:text="${Jml_Roti}"></td>
                        <td th:text="${Harga}"></td>
                        <td th:text="${Total}"></td>
                    </tr>

                    <tr>
                    <td colspan="4" align="center"> 
                    </td>
                </tr>

                <tr>
                    <td>Diskon</td>
                    <td colspan="3" th:text="${TotalDiskon}"></td>
                </tr>

                <tr>
                    <td>Total</td><!-- comment -->
                    <td colspan="3" th:text="${Diskon}"></td>
                </tr>
                </tbody>
            </table>
    </body>
</html>